.top-nav {
  background-color: var(--color-primary);
  color: var(--color-bg-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 32px;
}
.logo {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.3;
}
.menu {
  display: flex;
  height: 100%;
  gap: 16px;
}
.menu a {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  padding: 0 16px;
  color: var(--color-bg-white);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.9;
  cursor: pointer;
}
.menu a.active {
  background-color: var(--color-primary-dark);
}
.right-icons {
  display: flex;
  gap: 16px;
  align-items: center;
}
.right-icons mat-icon {
  font-size: 24px;
}
