:root {
  /* PRIMARY */
  --color-primary: #FF8C00;
  --color-primary-dark: #FF5F00;

  /* TEXT */
  --color-text-main: #060c1b;
  --color-text-muted: #b8b9bc;

  /* STATUS */
  --color-danger: #ff0000;

  /* BACKGROUND */
  --color-bg-white: #ffffff;
  --color-bg-hover: #f5f8fc;
  --color-bg-selected: #f1f5f8;
  --color-bg-border: #b8b9bc;

  /* BORDER */
  --color-border-light: #ececed;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}
